  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 18px;
   font-family: 'Lato', sans-serif;
   font-family: 'Nunito Sans', sans-serif;
   
}






body{

   background: hsl(33, 95%, 35%);
  
}


.header{
    
    background:  #530202;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 90px;
    width: 100%;
    box-shadow: 5px 3px 30px -15px black; 
    position: fixed;
    width: 100%;


}


img{

   max-width: 100%;

}


.header .logo{

    cursor: pointer;    
}


.header .logo img{

    height: 70px;
    width: auto;
    border-radius: 40%;
    box-shadow: 5px 3px 30px 1px black;
    margin-left: 10px;
    transition: all 0.3s;
   
}


.header .logo img:hover{

    transform: scale(1.2);

}


.header .nav-links{

    list-style: none;
    
}


.header .nav-links li{

    display: inline-block; 
    padding: 0 20px;


}


.header .nav-links li:hover{

   transform: scale(1.3);

}


.header .nav-links a{

    font-size: 26px;
    text-decoration:none ;
    color: #fbfbfb;

}


.header .nav-links li a:hover{

    color: #ffbc0c;
    border: 2px solid #ffbc0c;
    padding: 5px;
    border-radius: 40px;

 } 


.navbar{
   display: none;
}


#container{

   background-color: white;
   width: 80px;
   height: 40px;
   box-shadow: inset 4px 4px 6px #cecece,
               inset -4px -4px 6px #cecece;
   border-radius: 25px;
   cursor: pointer;
   justify-content: end;
   position: fixed;
   margin-top: -35px;
   right: 280px;

}

.toggle{

   top: 0;
   left: 0;
   width: 40px;
   height: 40px;
   transform: scale(.5);
   background: #530202;
   box-shadow: 3px 3px 8px #0c0000,
              -3px -3px 8px #5b05e4;
   border-radius: 25px;
}


#container.active .toggle{

   position: absolute;
   left: 40px;
   background-color:rgb(33, 134, 201);
   
}

body.active {

   background-color: #fbfbfb;
}


header.active{

   background-color:rgb(33, 134, 201);
   
}

footer.active{

   background-color:rgb(33, 134, 201);
}

#inicio.active{

   background-color: #fbfbfb;
   color: #0c0000;
}

 main{

    display: flexbox;

 }


 #inicio{

    display: flex;
    background: hsl(33, 95%, 35%);
    color: #fbfbfb;

 }

 
 #inicio img{


   margin-top: 2rem;
   border-radius:70%;
   width: 500px;
   height: 500px;

  
   
}

.no{

   width: 90%;
   max-width: 1200px;
   margin-top: 10rem;
   padding: 0px 50px;
   
}


 .title{
   
    font-size: 48px;
    margin-bottom: 5px;
    border-bottom: 1px solid white;
    width: 85%;
 
 }

 .si{
   width: 90%;
   max-width: 1200px;
   margin-top: 10rem;
   padding: 40px 0px;
 
  
}
 

p{
   line-height: 1.2;
}
 .primero{

   margin-bottom: 20px;
   margin-right: 100px ;
   border-bottom: 1px solid white;
   padding: 20px 5px;
   
 }

 .btn{

    background-color: #726e71;
    color: #f6f8fa;
    margin-bottom: 5.5rem;
    padding: 10px;
    width: 30%;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    box-shadow:   8px 8px 0px #120909;
}

.btn a{
   text-decoration: none;
}

.skills{

   display: flex;
   background-image: url(/imagen/nueva-seccion.jpg);
   background-attachment: fixed;
   background-position: center center center center;
   background-repeat: no-repeat;
   background-size:100%;
   width: 80%;
   height: 60vh;
   color: #fbfbfb;
   border-radius: 25px;
   margin: auto;
   text-align: center;
   box-sizing: border-box;
   box-shadow:  inset 4px 4px 6px #cecece,
                inset -4px -4px 6px #cecece;
   justify-content: center;
   align-items: center;

  
}

#skills{
 
   font-size: 40px;
   font-weight: bolder;
   width: 30%;
   margin: auto;
   margin-bottom: 15px;
   background-color: #530202;
   text-align: center;
   padding: 5px;
   color: #fbfbfb;
   border: solid 2px wheat;
   border-radius: 20px 0 20px 0;
   box-sizing: border-box;

   
}

.img-skills{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   margin: 50px;
   margin-top: 120px;
}

.dos{
   margin-top: 0%;
}

.tres{
   margin-top: 11%;
}

.uno{
   margin-top: 11%;
}





#contacto{

    background: rgba(5, 0, 4, 0.651);
    color: #0f0f0f;
    border-radius: 40px 0px;
    display: block;
    text-align: center;
    padding: 10px;
    margin: 100px 300px;
    min-height: 50vh;

 }


 .title-se{

    font-size: 32px;
    background:  rgb(83, 2, 2);
    width: 50%;
    align-content: center;
    margin: auto;
    border-radius: 20px;
    color: white;

 }


 .segundo{

   margin-top: 1rem;
   margin-bottom: 1.5rem;
   height: 100%;
   padding-top: 20px;
   padding-bottom: 20px;
   color: white;
 
}


 .contactos{

    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 70px;
    height: 150px;

 }

 .contactos li{

    list-style: none;  
    

 }


 .contactos li a img{

   height: 90px;
   padding: 10px;
   background: #ffbc0c;
   border-radius: 50%;
 

 }

 .contactos .list a img:hover{

   transform: scale(1.3);

 }




 footer{

   background:  rgb(83, 2, 2);
   color: #0f0f0f;
   text-align: center;
   height: 90px;
   padding-top: 30px;
   font-weight: bold;
  
}

.telefono{
   display: none;
}


@media (max-width:750px){


.header{
   display: none;
}

.navbar{
   display: block;
}


.telefono{
   display: block;
}

.tomo-dos{
   display: none;
}

 

 main{

    display: block;
    padding-top: 20%;
 }


 #inicio{

    display: block;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin: 0;

 }
.no{
   width: 100%;
   height: auto;
   margin: 0;
   padding: 0;
   
}
 

 #inicio img{

   object-fit: cover;
   border-radius:70%;
   box-shadow: 5px 3px 30px 1px black;
   
}

.si{
   width: 100%;
   height: auto;
   margin-top: 10px;
}

 .title{
   
    font-size: 36px;
    width: 100%;

 }
 

p{
   line-height: 1.2;
}

 .primero{

    margin-top: 1rem;
    margin-bottom: 1.5rem;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  
 }

 .btn{

    background-color: #92858f;
    color: #fbfbfb;
    margin-bottom: 5.5rem;
    padding: 10px;
    width: 60%;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;

}


#contacto{

    background-color: rgba(175, 89, 158, 0.3);
    color: #0f0f0f;
    border-radius: 20px;
    display: block;
    text-align: center;
    padding: 10px;
    margin: 30px;
    min-height: 100vh;

 }


 .title-se{

    font-size: 28px;
    width: 60%;

 }


 .segundario{

   margin-top: 1rem;
   margin-bottom: 1.5rem;
   height: 100%;
   padding-top: 20px;
   padding-bottom: 20px;
 
}


 .contactos{

    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 130px;
    width: 100%;

 }


 .contactos li a img{

   height: 80px;
   background: #ffbc0c;
   border-radius: 0%;
   width: 100%;
   padding: 3px;
 }


 .navbar {
   font-size: 18px;
   background:  rgb(83, 2, 2);
   border: 1px solid rgba(0, 0, 0, 0.2);
   padding-bottom: 10px;
   position: fixed;
   width: 100%;
 }
 .main-nav {
   list-style-type: none;
   display: none;
 }
 .nav-links,
 .logo {
   text-decoration: none;
   color: rgba(255, 255, 255, 0.7);
 }
 .main-nav li {
   text-align: center;
   margin: 15px auto;
 }
 .logo {
   display: inline-block;
   font-size: 22px;
   margin-top: 10px;
   margin-left: 20px;
 }
 .navbar-toggle {
   position: absolute;
   top: 10px;
   right: 20px;
   cursor: pointer;
   color: rgba(255, 255, 255, 0.8);
   font-size: 24px;
 }
 .active {
   display: block;
 }

 .skills{

   display: block;
   height: 127vh;
   background-image: none;
 }

 .tres{
   margin-top: 0px;
 }

 



 .toggle{

   top: 0;
   left: 0;
   width: 40px;
   height: 40px;
   transform: scale(.5);
   background: #530202;
   box-shadow: 3px 3px 8px #0c0000,
              -3px -3px 8px #5b05e4;
   border-radius: 25px;
}


}

